// Variables
$website-width: 900px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../img/showcase.jpg");
// Set Text Color
@function set-text-color($color){
  @if(lightness($color) > 50){
    @return #000;
  }
  @else{
    @return #fff;
  }
}

// Utilities
.container {
  max-width: $website-width;
  padding: 0rem 1.5rem;
  margin: auto;
  overflow: hidden;
}
// padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}
// margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}
// section-title
.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}
// Bottom Line
.bottom-line {
  height: 2px;
  width: 3rem;
  background-color: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}
// Buttons

%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}
.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }
  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}
button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $main-color;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

// General Styles
* {
  margin: 0%;
  padding: 0%;
  // box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
img {
  width: 100%;
}

//Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

//Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  ul {
    display: flex;
  }
  li {
    padding: 1rem 1.5rem;
  }
  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &.current {
      border-color: $main-color;
    }
    &:hover {
      border-color: $medium-color;
    }
  }
}

// Header
#header {
  // Header home
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;
    }
    h1 {
      font-size: 4rem;
      line-height: 1.2;
    }
  }

  // Header Inner
  &-inner {
  }
}

// Home Sections
#home {
  // Home Section a
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;

      .fas {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }
  // Home Section b
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }
        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }
      div {
        padding: 3rem 0;
        &:nth-child(odd) {
          background-color: $light-color;
        }
        &:nth-child(even) {
          background-color: $medium-color;
        }
      }
    }
  }
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background-color: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      }
      &-icon {
        position: relative;
        background-color: $dark-color;
        color: set-text-color($dark-color);
        border-radius: 50%;
        height: 70px;
        width: 70px;
        line-height: 70px;
        padding: 2rem;
        transition: all 1s;
        text-align: center;

        &:hover {
          background-color: $main-color;
          height: 90px;
          width: 90px;
          line-height: 90px;
          .process-step {
            background-color: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

// Footer
#main-footer {
  background-color: $dark-color;
  color: #fff;
  height: 5rem;
  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }
  .social .fab{
    margin-right: 1rem;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    height: 20px;
    width: 20px;
    line-height: 20px;
    padding: 0.5rem;
    transition: all 0.3s;

    &:hover{
      background-color: $main-color;
    }
    
  }
}
