:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333333;
  --max-width: 1300px;
}

.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5rem;
  background: var(--light-color);
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  list-style: none;
}

p{
  margin: 0.5rem 0;

}
img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: #ffffff;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 0.2rem 0.6rem;
  border-radius: 14px;
  margin-bottom: 0.5rem;
}

.category-sports {
  background-color: var(--sports-color);
}
.category-ent {
  background-color: var(--ent-color);
}
.category-tech {
  background-color: var(--tech-color);
}
.btn {
  display: inline-block;
  color: #ffffff;
  background: var(--dark-color);
  padding: 0.5rem 1.5rem;
}

.btn-primary {
  background: var(--primary-color);
}
.btn-secondary {
  background: var(--secondary-color);
}
.btn-light {
  background: var(--light-color);
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.card{
  background: #ffffff;
  padding: 1rem;
}

.bg-dark{
  background: var(--dark-color);
  color: #ffffff;
}

.bg-primary{
  background: var(--primary-color);
  color: #ffffff;
}
.bg-secondary{
  background: var(--secondary-color);
  color: #ffffff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: #ffffff;
}

.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}
.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}

.list li{
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
}
.list li a:hover {
  color:var(--primary-color) !important;
}

/* Inner Page Grid Container  */
.page-container{
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}
.page-container > *:first-child {
  grid-row: 1 / span 3;
}

/* Navigation */
#main-nav {
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 180px;
}

#main-nav ul {
  justify-self: center;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
}

#main-nav ul li a.current {
  background: var(--primary-color);
  color: #ffffff;
}

#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

#main-nav .social {
  justify-self: center;
}

#main-nav .social i {
  color: #777;
  margin-right: 0.5rem;
}

#main-nav .social i:hover {
  color:var(--primary-color);
}

/* Showcase */
#showcase {
  color: #ffffff;
  background: #333333;
  padding: 2rem;
  position: relative;
}

#showcase::before {
  content: "";
  background: url("../image/featured.jpg") no-repeat center center/cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-content {
  z-index: 1;
}
#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* Home Articles */

#home-articles .articles-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-gap:1rem;
  grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child{
  grid-column: 2 / span 2;
}

/* Footer */
#main-footer{
  background: #333333;
  color: #ffffff;
}
#main-footer img{
  width: 150px;
  }
  #main-footer a{
    color: #ffffff;
  }
  #main-footer .footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    
  }
  
  #main-footer .footer-container > *:last-child{
    background: #444;
    grid-column: 1 / span 4;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  #main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #main-footer .footer-container input[type='submit'] {
    width: 90%;
  }