:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333333;
  --max-width: 1100px;
}

.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5rem;
  background: var(--light-color);
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 rem;
  overflow: hidden;
}

/* Navigation */
#main-nav {
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 180px;
}

#main-nav ul {
  justify-self: center;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
}

#main-nav ul li a.current {
  background: var(--primary-color);
  color: #ffffff;
}

#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

#main-nav .social {
  justify-self: center;
}

#main-nav .social i {
  color: #777;
  margin-right: 0.5rem;
}

/* Showcase */
#showcase {
  color: #ffffff;
  background: #333333;
  padding: 2rem;
  position: relative;
}
