.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  
    position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: black;

}
