body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/image_2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
}

.T {
  text-decoration: none;
  color: blueviolet;
}
h2 {
  margin: 0;
  padding: 0 0 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.avatar {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  top: calc(-80px / 2);
  left: 190px;
}

.second-container {
  margin-top: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 80px 40px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
}

p {
  margin: 0;
  padding: 0;
  color: #fff;
  margin-bottom: 1rem;
}
input {
  width: 100%;
  margin-bottom: 20px;
}
label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}
input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
input[type="submit"] {
  height: 30px;
  color: #fff;
  font-weight: bolder;
  font-size: 15px;
  background: red;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  outline: none;
  margin-top: 2rem;
}
input[type="submit"]:hover {
  opacity: 0.8;
}

input[type="checkbox"] {
  width: 20%;
}

#bottom-text {
  font-size: small;
  line-height: 1;
  text-align: center;
}

.op-1 {
  display: block;
}

.op-0 {
  display: none;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.list li {
  list-style: none;
  font-size: 1rem;
  padding-bottom: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.9;
}
.list li a {
  text-decoration: none;
  color: azure;
}

.list li.current {
  border-bottom: 3px solid deeppink;
  font-weight: bolder;
  opacity: 1;
}
